[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-searchindex"]
	path = .vim/bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = git@github.com:racer-rust/vim-racer.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
