[user]
	name = Ivan Velichko
	email = iximiuz@gmail.com
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
[http]
	sslVerify = true
[mergetool]
	prompt = false
[merge]
	conflictstyle = diff3
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[alias]
	d = difftool
  st = status --short -uno
  ci = commit
  ca = commit --amend
  caa = commit -a --amend
  br = branch
  co = checkout
  df = diff
  lg = log -p --pretty=fuller --abbrev-commit
  lgg = log --pretty=fuller --abbrev-commit --stat
  up = pull --rebase

